/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: cursive;
    line-height: 1.5;
    background-color: #f0f0f0;
}

header {
    background-color: #FFB6C1;
    color: #fff;
    padding: 1em;
    text-align: center;
    position: relative;
    height: 100px;
    justify-content: center;
    align-items: center;
}

header h1 {
    margin: 0;
    position: absolute;
    top: 5px;
    left: 10px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 145%;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}

nav ul li a:hover {
    background-color: #555;
    border-radius: 5px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.section {
    margin-bottom: 40px;
}

.gallery {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-items: center;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
}   

.item img {
    width: 100%; /* Resize to 50% of the container's width */
    height: 100%; /* Resize to 50% of the container's height */
    object-fit: cover;
    margin: 10px; /* Add space between images */
    border-radius: 0; /* Remove corner rounds */
}

/* Specific sizes for each image */
.item.photo1 {
    width: 250px;
    height: 250px;
}

.item.photo2 {
    width: 200px;
    height: 200px;
}

/* Add specific styles for more images as needed */
.item p {
    margin-top: 10px;
}

.item video {
    width: 100%;
    display: block;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #FFB6C1;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    line-height: 1.5;
}

/* Animation Styles */
.animated-header {
    animation: blink 1.5s step-start infinite, move 5s infinite alternate;
}

/* Blinking effect */
@keyframes blink {
    50% {
        opacity: 0;
    }
}

